.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 1em;
    padding: 1em;
    display: grid;
    background-color: aliceblue;
    box-shadow: 2px 2px 3px black;
}

.container-fluid {
    background-image: url('Images/music\ background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
    
}

.navbar {
    background-color: aliceblue;

}